{% extends "base.html" %} {% block content %}

<h2>Cadastro</h2>
<form method="post" class="form-auth">
  <label for="nome">Nome:</label><br />
  <input type="text" id="nome" name="nome" required /><br /><br />
  php-template Copiar Editar
  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br /><br />

  <label for="senha">Senha:</label><br />
  <input type="password" id="senha" name="senha" required /><br /><br />

  <button type="submit">Cadastrar</button>
</form>
<p>Já tem conta? <a href="{{ url_for('login') }}">Entrar</a></p>
{% endblock %}
